#anime
  nav
    .nav-wrapper.grey.darken-4
      .col.s12.padding-left-10
        router-link.breadcrumb(:to="{ name: 'home'}") Home
        a.breadcrumb(href="") Animes
  .row.grey.darken-3
    .col.s12
      .container
        center 
          .card
            .card-image
              picture
                source(media="(max-width: 568px)", :srcset="anime.banner_small_url")
                source(media="(max-width: 1280px)", :srcset="anime.banner_medium_url")
                img.activator.responsive-img(:src="anime.banner_url")
              span.card-title.title.col.s12
                router-link.white-text(:to="{ name: 'anime', params: { id: 1 }}")
                  strong {{ anime.name }}
  .row
    .col.s12.l8    
      .row
        .container
          .card
            .card-content
              span Social
      .row
        .container
          .card
            .card-content
              span Description
              
      .row
        .container
          .card
            .card-content
              span Ultimos capitulos
      
      .row
        .container
          .card
            .card-content
              span Comentarios
    .col.s12.l4
      .card
        .card-content
          span sidebard
