#home
  .row.paddin10-top.valign-wrapper
    .container
      .row.grey.lighten-5.card
        .col.s12
          div.red-text(style="font-size:3em;")
            i.fas.fa-play-circle.left
          h5 Últimos episodios
  .row
    .container
      .col.s12.l4(v-for="anime in animes",v-if="isLoad")
        animeCard(:anime="anime",:key="anime.id")
      .col.s12(v-if="!isLoad")
        center
          preloader
  .row
    .container
      center 
        ul.pagination
          li.disabled
            a(href="")
              i.material-icons chevron_left
          li.active
            a(href="") 1
            li
              a(href="") 2
          li.waves-effect
            a(href="#!")
              i.material-icons chevron_right
